:root {
    --white-smoke: #f5f5f5;
    --white: #fff;
    --darkPrimary: #0d1117;
    --darkSecondary: #000000c0;
    --black: #010409;
    --red: #fb3958;
    --border: #30363d;
    --yellow: #daa520;
}
.accordion-custom-dark .accordion-button {
    background-color: var(--darkPrimary) !important;
}

.list-group-custom {
    background: var(--darkPrimary);
    border-color: var(--border);
}

.pointer {
    cursor: pointer;
}

.list-group-item-black {
    background-color: var(--darkPrimary);
    border-color: var(--border);
    border-bottom: 5px solid var(--darkSecondary);
}
.list-group-item-black:hover {
    background-color: var(--black);
}

.list-group-item-white {
    border-bottom: 5px solid var(--white);
}

.list-group-item-white:first-child {
    border-top: 1px solid var(--darkSecondary);
}
.list-group-item-white:hover {
    background-color: var(--yellow);
}
